/* reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.container{
    max-width: 1150px;
    margin: auto;
    
    height: 600px;
    padding-top: 40px;
}

.info-box{
    
    width: 400px;
    background-color: #0f0e17;
    float: left;
    color: white;
    margin-top: 40px;
}

.profile-photo{
    width: 25%;
    float: left;
}

.info-profile{
    float: left;
    padding: 10px 15px;
}

/* tipography */

body{
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: #E53170;
    font-weight: 600;
    padding-bottom: 40px;
}



.margin-bottom-5{
    margin-bottom: 5px;
}
header{
    text-align: center;
}

.font-weight-light{
    
    font-weight: 300;
}

.email-color{
    color: #6ecbf2;
    text-decoration: none;
}